<p id="notice"><%= notice %></p>

<nav class="navbar">
<h1>Comments</h1>
<%= link_to 'Back', @photo %>
</nav>

<section>
  <%= render @comments, photo: @photo %>
</section>

<br>

<%= render 'form', comment: @new_comment %>
