@import "bootstrap";
@import "./landing";
@import "./profiles";

body {
  margin: 0;
  background: #92D4EE;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.comments {
  margin:auto;
  width: 600px;
}

nav {
  // margin: 0 auto 2em auto;
  background: #B4B4B4;
}
